AuthUser="foo@example.com"
AuthPass="my-service-password"
mailhub="smtp.zoho.com:465"
AdminEMail="server-admin@example.com"

# Socks5 proxy, created by `ssh -D 8899 [-C -N -q] some_server`
#Proxy="localhost:8899"  
